<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="css/style-perso.css" type="text/css" rel="stylesheet">
    <link href="css/Lesplats.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <meta charset="UTF-8"/>
    <title>Une belle histoire</title>
</head>
    <body>
        <div class="page">
            <div th:switch="${statut}">
                <div th:case="'admin'">
                    <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
                </div>
                <div th:case="'client'">
                    <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
                </div>
                <div th:case="'visiteur'">
                    <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
                </div>
            </div>

            <div class="container-fluid">

                <div class="col-xs-2"> <!-- Liste déroulante -->
                    <ul class="nav nav-pills nav-stacked couleur-rose-corail">
                        <li role="presentation"><a href="RoseCorail">Contact</a></li>
                        <li role="presentation" class="active"><a href="bellehistoire">Une belle histoire</a></li>
                        <li role="presentation"><a href="fabrication">Fabrication</a></li>
                        <li role="presentation"><a href="mentionslegales">Mentions légales</a></li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <h3>Une belle histoire...</h3>
                    <div class="row">
                    <figure class="col-xs-4"><img class="img-responsive" src="images/toitenverre.jpg"></figure>
                    <p class="col-xs-6">A l'origine, la société Saverbat, spécialisée dans l'architecture du verre  et notamment la rénovation de voûtes anciennes,
                        travaille avec les verriers de Marinha Grande, la cité du verre au Portugal.
                        Au fil de rencontres, le lien est établi avec une société spécialisée dans le thermoformage de verre plat.
                        La collaboration démarre pour du carrelage mural dans un premier temps, mais vite on décide de lancer la
                        commercialisation d'objets d'art de la table et de décoration, fabriqués par cette société.
                        En fusing avec du verre de couleur, et aussi avec du verre simplement thermoformé, en finition satinée ou bien peint
                        en sous face, permettant une très large collection de coloris et de formes.
                    </p>
                    </div>

                    <div class="row">

                    <figure class="col-xs-12"><img class="img-responsive" src="images/platbellehistoire1.jpg"> <figcaption>Exemples de plat réalisé en fussing</figcaption></figure>
                    <figure class="col-xs-12"><img class="img-responsive" src="images/platbellehistoire2.jpg"></figure>
                    <p class="col-xs-10">Les architectes et les négoces de matériaux d'une part, les boutiques de décoration d'autre part ...
                        les univers sont différents, et en 2013, Rose Corail  est créée,
                        avec la vocation de développer et commercialiser une gamme d'objets d'art de table et de décoration de la maison.</p>

                    </div>
                    <div class="row">
                    <div>
                        <p class="col-xs-8">C'est Eliane Marquès, jeune designer portugaise, qui conçoit et réalise cette
                            collection en collaboration avec Rose Corail et l'aide de manu-facteurs portugais.

                        </p>
                        <figure class="col-xs-4">
                            <img class="img-responsive" src="images/eliane.jpg">
                        </figure>
                    </div>
                    <div>
                        <figure class="col-xs-4"><img class="img-responsive" src="images/beatrice.jpg"></figure>
                        <p class="col-xs-8">Etant tombée dans le monde du verre au berceau,
                            et séduite par le talent et l'énergie des portugais, j'ai eu l'envie de promouvoir cette collection.
                            Après l'avoir commercialisée pour Saverbat, j'en assure maintenant le développement au travers de ma société Rose Corail.
                            Béatrice Roquette</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="precedentlefooter"></div>
            <footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
        </div>
    </body>
</html>