<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	  <!-- Bootstrap -->
	  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
	  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
	  <link href="css/styleConnexion.css" type="text/css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="css/style-perso.css">
	  <script src="js/jquery-3.2.1.js"></script>
	  <script src="js/bootstrap.js"></script>
	  <meta charset="utf-8"/>
	  <title>Connexion</title>
	</head>
	<body>
		<div class="page">
			<nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>

		<div class="connexionClass">
		  <h2>Connexion</h2>
		  <div class="formulaireCoFieldset">
		  	<div class="formulaireCo">
			  <form method="post" class="form-horizontal" action="/action_page.php">
			    <div class="form-group">
			      <label for="email" class="col-xs-4">Email :</label>
			      <input type="email" class="inputText col-xs-4" id="email" placeholder="Entrer email" name="email">
			    </div>
			    <div class="form-group">
			      <label for="pwd" class="col-xs-4">Mot de passe :</label>
			      <input type="password" class="inputText col-xs-4" id="pwd" placeholder="Entrer mot de passe" name="pwd">
			    </div>
			    <div class="checkbox">
			      <label><input type="checkbox" name="remember"> Se souvenir de moi</label>
			    </div>
			    <p class="boutonSub"><button type="submit" class="btn btn-default">Se connecter</button></p>
			    <p><a href="monCompteRC">Se connecter en tant que Rose Corail (administrateur)</a></p>
			    <p><a href="monCompteClient">Se connecter en tant que client</a></p>
			  </form>
			  <div class="dropdown-divider links"></div>
			  <a class="dropdown-item" id="signUp" href="inscription">Pas encore de compte? Inscrivez-vous !</a>
			  <a class="dropdown-item" id="forgotPassword" href="#">Mot de passe oublié ?</a>
		    </div>
		   </div>
		</div>


		<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>
	</body>
</html>