<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap -->
    <link href="/RoseCorail/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/RoseCorail/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="/RoseCorail/css/style-perso.css" type="text/css" rel="stylesheet">
    <link href="/RoseCorail/css/Lesplats.css" type="text/css" rel="stylesheet">
    <script src="/RoseCorail/js/jquery-3.2.1.js"></script>
    <script src="/RoseCorail/js/bootstrap.js"></script>
    <meta charset="utf-8"/>
    <title>Contact</title>
</head>
<body>
<div class="page">
    <div th:switch="${statut}">
        <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
        </div>
        <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
        </div>
        <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
        </div>
    </div>

    <div class="col-xs-2"> <!-- Liste déroulante -->
        <ul class="nav nav-pills nav-stacked couleur-rose-corail">
            <li role="presentation" class="active"><a href="/RoseCorail/Contact">Contact</a></li>
            <li role="presentation"><a href="/RoseCorail/bellehistoire">Une belle histoire</a></li>
            <li role="presentation"><a href="/RoseCorail/fabrication">Fabrication</a></li>
            <li role="presentation"><a href="/RoseCorail/mentionslegales">Mentions légales</a></li>
        </ul>
    </div>
    <div class="col-xs-10">
        <h4>Contact : </h4>
        <p>ROSE CORAIL</p>
        <p th:text="${'Email: '+compteRoseCorail.getEmail()}">Email : beatrice.roquette@rosecorail.com</p>
        <p th:text="${'Tel: '+compteRoseCorail.getNumero_tel()}">Tel 06 12 63 07 12</p>
        <h4>Contactez nous :</h4>
        <form method="post">
            <div class="row">
                <div class="form-horizontal col-xs-8">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="nom-contact">Nom : *</label>
                        <div class="col-xs-6">
                            <input th:if="${nom}" type="text" class="form-control"  name="nom-contact" th:value="${nom+' '+prenom}" placeholder="Exemple : Jean DUPONT">
                            <input th:unless="${nom}" type="text" class="form-control" id="nom-contact" name="nom-contact"  placeholder="Exemple : Jean DUPONT">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="email-contact">Adresse e-mail : *</label>
                        <div class="col-xs-6">
                            <input th:if="${email}" type="text" class="form-control" id="email-contact" name="email-contact" th:value="${email}" placeholder="Exemple : jean@dupont.com">
                            <input th:unless="${email}" type="text" class="form-control"  name="email-contact"  placeholder="Exemple : jean@dupont.com">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="message-contact">Message : *</label>
                        <div class="col-xs-6">
                            <textarea id="message-contact" name="message-contact" class="form-control" rows="5" placeholder="Rentrez ici votre message."></textarea>
                        </div>
                    </div>
                    <p class="col-xs-offset-2"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>     les champs suivis d'un astérisque * sont obligatoires.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-offset-3">
                    <button type="submit" class="btn btn-primary">Envoyez le message</button>
                </div>
            </div>
        </form>
    </div>




    <div class="precedentlefooter"></div>

    <footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>
</body>
</html>