<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="css/style-perso.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <meta charset="utf-8"/>
</head>
<body>

<nav class="navbar hautdepage" th:fragment="navigateur">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" >
            <div class="row rowPerso">
                <div class="col-xs-10 nav navbar-nav liste-hautdepage">
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2 classHome"><a href="/RoseCorail/accueil"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/presentationCollection">Collection</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/nouveautes">Nouveautés</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/lesColoris?saison=Printemps-Été%202016">Coloris</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/bellehistoire">Rose Corail</a></div>
                </div>
                <div class="col-xs-2 flotte-droite-dropdown goToCo">
                    <a href="connexion" class="lienConnexion"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Connexion</a>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<nav class="navbar hautdepage" th:fragment="navigateurCoAdmin">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" >
            <div class="row rowPerso">
                <div class="col-xs-10 nav navbar-nav liste-hautdepage">

                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2 classHome"><a href="/RoseCorail/accueil"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/presentationCollection">Collection</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/nouveautes">Nouveautés</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/lesColoris?saison=Printemps-Été%202016">Coloris</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/bellehistoire">Rose Corail</a></div>
                </div>
                <div class="col-xs-2">
                    <ul class="flotte-droite-dropdown onglet-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle onglet-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Béatrice ROQUETTE<span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-nav nav navbar-right">
                                <li class="item-menu-deroulant"><a href="/RoseCorail/administration/monCompteRC"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Mon compte</a></li>
                                <li class="item-menu-deroulant"><a th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeMoisActuelle}"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Statistiques</a></li>
                                <li class="item-menu-deroulant"><a href="/RoseCorail/administration/devisRC"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  Les devis</a></li>
                                <li class="item-menu-deroulant"><a href="/RoseCorail/administration/formulaire"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Modification du site</a></li>
                                <li class="item-menu-deroulant"><a href="/RoseCorail/deconnexion"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Me déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<nav class="navbar hautdepage" th:fragment="navigateurCoClient">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" >
            <div class="row rowPerso">
                <div class="col-xs-9 nav navbar-nav liste-hautdepage">

                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2 classHome"><a href="/RoseCorail/accueil"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/presentationCollection">Collection</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/nouveautes">Nouveautés</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/lesColoris?saison=Printemps-Été%202016">Coloris</a></div>
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/bellehistoire">Rose Corail</a></div>
                </div>
                <div class="col-xs-3">
                    <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="/RoseCorail/panier"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Mon panier</a></div>
                    <ul class="flotte-droite-dropdown onglet-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle onglet-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${nom}+'    '+${prenom}"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-nav nav navbar-right">
                                <li class="item-menu-deroulant"><a href="/RoseCorail/monCompteClient"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Mon compte</a></li>
                                <li class="item-menu-deroulant"><a href="/RoseCorail/panier"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Mon panier</a></li>
                                <li class="item-menu-deroulant"><a href="/RoseCorail/devisClient"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  Mes devis</a></li>
                                <li class="item-menu-deroulant"><a href="/RoseCorail/deconnexion"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Me déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div th:fragment="boutonsArticles(statut,modification)">
    <button th:if="${statut=='visiteur'}" data-toggle="modal" th:href="${'/RoseCorail/modalVisiteur?id='+article.id_article}" data-target="#presentationarticle" class="btn btn-primary">Voir plus</button>
    <button th:if="${statut=='admin'}" data-toggle="modal" th:href="${'/RoseCorail/modalClient?id='+article.id_article}" data-target="#presentationarticle" class="btn btn-primary">Voir plus</button>
    <button th:if="${statut=='client'}" data-toggle="modal" th:href="${'/RoseCorail/modalClient?id='+article.id_article}" data-target="#presentationarticle" class="btn btn-primary">Voir plus</button>
    <a th:if="${modification== 'active'}" th:href="${'/RoseCorail/administration/ModificationArticle?id='+article.id_article}" class="btn btn-warning">Modifier</a>
    <button th:if="${modification== 'active'}" data-toggle="modal" th:href="${'/RoseCorail/administration/ModalSuppressionArticle?id='+article.id_article}" data-target="#presentationarticle" class="btn btn-danger">Supprimer</button>
</div>
<div th:fragment="boutonsPanelColoris(statut,modification)">
    <a th:if="${modification== 'active'}" th:href="${'/RoseCorail/administration/ModificationPanelColoris?id='+panelcoloris.idPanelColoris}" class="btn btn-warning">Modifier</a>
    <button th:if="${modification== 'active'}" data-toggle="modal" th:href="${'/RoseCorail/administration/ModalSuppressionPanelColoris?id='+panelcoloris.idPanelColoris}" data-target="#suppressionpanelcoloris" class="btn btn-danger">Supprimer</button>
</div>


<footer class="navbar basdepage" th:fragment="footer">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class=" container">
            <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="/RoseCorail/presentationCollection">Collection</a></div>
            <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="/RoseCorail/nouveautes">Nouveautés</a></div>
            <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="/RoseCorail/lesColoris?saison=Printemps-Été%202016">Coloris</a></div>
            <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="/RoseCorail/bellehistoire">Rose Corail</a></div>
            <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="/RoseCorail/Contact">Nous contacter</a></div>
            <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="/RoseCorail/mentionslegales">Mentions légales</a></div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</footer>

</body>
</html>