<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	  <!-- Bootstrap -->
	  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
	  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
	  <link href="css/styleInscription.css" type="text/css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="css/style-perso.css">
	  <script src="js/jquery-3.2.1.js"></script>
	  <script src="js/bootstrap.js"></script>
	  <meta charset="utf-8"/>
	  <title>Inscription</title>
	</head>
	<body>
		<div class="page">
			<div th:switch="${statut}">
				<div th:case="'admin'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
				</div>
				<div th:case="'client'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
				</div>
				<div th:case="'visiteur'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
				</div>
			</div>


			<div class="container">
				<h1 class="text-center aere">Inscription</h1>
				<form method="post" class="form-horizontal" action="inscription">
					<div class="row">
						<div class="col-xs-6 form-horizontal">


							<!-- Email -->
							<div class="form-group">
								<label for="email" class="col-xs-4 control-label">Email:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="email" placeholder="Entrer votre email" name="email">
								</div>
							</div>
							<!-- Mot de passe -->
							<div class="form-group">
								<label for="mdp" class="col-xs-4 control-label">Mot de passe:</label>
								<div class="col-xs-8">
									<input type="password" class="form-control" id="mdp" placeholder="Entrer votre mot de passe" name="mdp">
								</div>
							</div>
							<!-- Confirme Mot de passe -->
							<div class="form-group">
								<label for="confirmeMdp" class="col-xs-4 control-label">Confirmer mot de passe:</label>
								<div class="col-xs-8">
									<input type="password" class="form-control" id="confirmeMdp" placeholder="Confirmer votre mot de passe" name="confirmeMdp">
								</div>
							</div>
							<!-- Nom Entreprise -->
							<div class="form-group">
								<label for="nom_boutique" class="col-xs-4 control-label">Nom entreprise:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="nom_boutique" placeholder="Entrer le nom de votre entreprise" name="nom_boutique">
								</div>
							</div>
							<!-- Nom -->
							<div class="form-group">
								<label for="nom_gerant" class="col-xs-4 control-label">Nom:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="nom_gerant" placeholder="Entrer votre nom" name="nom_gerant">
								</div>
							</div>
							<!-- Prénom -->
							<div class="form-group">
								<label for="prenom_gerant" class="col-xs-4 control-label">Prénom:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="prenom_gerant" placeholder="Entrer votre prénom" name="prenom_gerant">
								</div>
							</div>
							<!-- Adresse Entreprise -->
							<div class="form-group">
								<label for="adresse" class="col-xs-4 control-label">Adresse entreprise:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="adresse" placeholder="Entrer l'adresse de votre entreprise" name="adresse">
								</div>
							</div>
							<!-- Code Postal de l'entreprise -->
							<div class="form-group">
								<label for="code_postal" class="col-xs-4 control-label">Code postal:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="code_postal" placeholder="Entrer le code postal de votre entreprise" name="code_postal">
								</div>
							</div>
							<!-- Ville de l'entreprise -->
							<div class="form-group">
								<label for="ville" class="col-xs-4 control-label">Ville:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="ville" placeholder="Entrer la ville où se situe votre entreprise" name="ville">
								</div>
							</div>
							<!-- N° de TVA de l'entreprise -->
							<div class="form-group">
								<label for="num_tva" class="col-xs-4 control-label">N° de TVA:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="num_tva" placeholder="Entrer votre numéro de TVA" name="num_tva">
								</div>
							</div>
							<!-- Téléphone de l'entreprise -->
							<div class="form-group">
								<label for="numero_tel" class="col-xs-4 control-label">Téléphone:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="numero_tel" placeholder="Entrer votre numéro de téléphone" name="numero_tel">
								</div>
							</div>
							<!-- Site de l'entreprise -->
							<div class="form-group">
								<label for="site_internet" class="col-xs-4 control-label">Site internet:</label>
								<div class="col-xs-8">
									<input type="texte" class="form-control" id="site_internet" placeholder="Entrer l'adresse de votre site Internet" name="site_internet">
								</div>
							</div>
						</div>
						<div class="col-xs-1"></div>
						<div class="col-xs-5">
							<!-- Description de l'entreprise -->
							<div class="form-group descriptionClass">
								<label for="description_activite">Description de l'activité:</label>
								<textarea class="form-control" rows="7" id="description_activite" name="description_activite"></textarea>
							</div>
						</div>
					</div>

					<div class="bouttonInscription">
						<button type="submit" class="btn btn-primary">S'inscrire</button>
						<p class="classLink"><a class="dropdown-item" id="signUp" href="connexion">J'ai déjà un compte ! Je me connecte ICI !</a></p>
					</div>
				</form>
			</div>


			<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>
</body>
</html>