<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="/css/style-perso.css" type="text/css" rel="stylesheet">
  <link href="/css/Lescoloris.css" type="text/css" rel="stylesheet">
  <script src="/js/jquery-3.2.1.js"></script>
  <script src="/js/bootstrap.js"></script>

  <meta charset="utf-8"/>
  <title>Les coloris</title>
</head>
 
<body>
  <div class="page">
    <div th:switch="${statut}">
      <div th:case="'admin'">
        <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
      </div>
      <div th:case="'client'">
        <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
      </div>
      <div th:case="'visiteur'">
        <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
      </div>
    </div>

<div class="container-fluid">
  <div class="col-xs-8 col-xs-offset-2">
    <a th:if="${statut == 'admin'}" class="btn btn-primary" href="/lesColoris?Modification=active">Activer la modification</a>
    <a th:if="${statut == 'admin'}" class="btn btn-primary" href="/lesColoris?Modification=desactive">Désactiver la modification</a>
    
    <div class="margin-bottom relative">
      <img class="img-responsive" src="/images/portecouteaux-coloris.jpg">
      <img class="logoRoseCorail" src="/images/rosecoraillogo.jpg" alt="logoRoseCorail">
    </div>

    
      <div class="col-xs-4 col-sm-2"> <!--Colone de gauche qui contient les différents coloris-->
        
        <ul class="nav nav-pills nav-stacked couleur-rose-corail">
          <li role="presentation" class="active"><a href="lescoloris.html">Collection Automne Hiver 2017</a></li>
          <li role="presentation" ><a href="#">Collection Automne Hiver 2017</a></li>
        </ul>
      </div>

      <div class="col-xs-8 col-sm-10"><!--à droite, on met les coloris-->
        <div th:each="panelcoloris : ${lespanelscoloris}">
          <div class="col-xs-12 margin-bottom">
            <figure>
              <img class="presentation-coloris" th:src="${panelcoloris.image}">
              <figcaption th:text="${panelcoloris.legende}">Bleu gris 087, Bleu glacier 097,  bleu vert 08, sapin bleuté 091, lichen 98, forêt 103</figcaption>
            </figure>
            <div th:insert="~{fragments::boutonsPanelColoris(${statut},${modification})}"></div>
          </div>
        </div>
      </div>
  </div>

</div>
    <div class="precedentlefooter"></div>
<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>


</body> 
</html>
