<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
 
<head>
  <!-- Bootstrap -->
  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="css/style-perso.css" type="text/css" rel="stylesheet">
  <link href="css/Lescoloris.css" type="text/css" rel="stylesheet">
  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/feuille-presentation-plat-js.js"></script>
  <meta charset="utf-8"/>
  <title>Les coloris</title>
</head>
 
<body>
  <div class="page">
    <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>

<div class="container-fluid">
  <div class="col-xs-8 col-xs-offset-2">
    
    <div class="margin-bottom relative">
      <img class="img-responsive" src="images/portecouteaux-coloris.jpg">
      <img class="logoRoseCorail" src="images/rosecoraillogo.jpg" alt="logoRoseCorail">
    </div>

    
      <div class="col-xs-4 col-sm-2"> <!--Colone de gauche qui contient les différents coloris-->
        
        <ul class="nav nav-pills nav-stacked couleur-rose-corail">
          <li role="presentation" class="active"><a href="lescoloris.html">Collection Automne Hiver 2017</a></li>
          <li role="presentation" ><a href="#">Collection Automne Hiver 2017</a></li>
        </ul>
      </div>

      <div class="col-xs-8 col-sm-10"><!--à droite, on met les coloris-->
        
        <div class="col-xs-12 margin-bottom">
          <figure >
            <img class="presentation-coloris" src="images/coloris-1.jpg">
            <figcaption>Bleu gris 087, Bleu glacier 097,  bleu vert 08, sapin bleuté 091, lichen 98, forêt 103 
            </figcaption>
          </figure>
        </div>

        <div class="col-xs-12 margin-bottom">
          <figure class="presentation-coloris">
            <img class="img-responsive presentation-coloris" src="images/coloris-2.jpg">
            <figcaption>Noir 018, éléphant 035, taupe 036, mastic 150, bronze 032, argent 030 
            </figcaption>
          </figure>
        </div>

        <div class="col-xs-12 margin-bottom">
          <figure>
            <img class="img-responsive presentation-coloris" src="images/coloris-3.jpg">
            <figcaption>Marron glacé 102, camel 101 , mastic 150, jaune d'or 039, champagne 092 
            </figcaption>
          </figure>
        </div>

        <div class="col-xs-12 margin-bottom">
          <figure>
            <img class="img-responsive presentation-coloris" src="images/coloris-4.jpg">
            <figcaption>Rose poudré 090, pivoine 100, aubergine 099, rouge 028, bordeaux 019, safran 096 
            </figcaption>
          </figure>
        </div>

        <div class="col-xs-12 margin-bottom">
          <figure>
            <img class="img-responsive presentation-coloris" src="images/coloris-5.jpg">
            <figcaption>Sapin bleuté 091, bleu vert 008, celadon 089, bleu gris 087, turquoise 020, canard 009 
            </figcaption>
          </figure>
        </div>

        <div class="col-xs-12 margin-bottom">
          <figure>
            <img class="img-responsive presentation-coloris" src="images/coloris-6.jpg">
            <figcaption>Elephant 035, bronze 032, argent 030
            </figcaption>
          </figure>
        </div>
        

      </div>
    
  </div>
</div>



<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>


</body> 
</html>
