<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<form method="post">
    <div class="modal-header">
        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>

    </div>

    <div class="modal-body">
        <div class="row" style="margin-bottom: 20px;">


            <p>Voulez vous vraiment annuler ce devis? Un mail sera envoyé à l'entreprise Rose Corail pour confirmer l'annulation de ce devis.</p>
            <button data-dismiss="modal" class="btn btn-primary">Annuler</button>
            <a class="btn btn-primary" th:href="${'/annulationdevis?id='+cetarticle.id_article}">Supprimer</a>
        </div>

    </div>
</form>

</html>
