<html xmlns:th="http://www.thymeleaf.org">
<div class="modal-header">
    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
    <h3 class="modal-title">Plat rectangulaire</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-6">
            <img th:src="${cetarticle.image}" class="img-responsive">
        </div>
        <div class="col-xs-6">
            <h4>Nom : <span th:text="${cetarticle.nom_article}">Plat rectangulaire</span></h4>
            <h4>Description : <span th:text="${cetarticle.description}">Plat rectangulaire à fond creusé</span></h4>
            <h4>Référence : <span th:text="${cetarticle.reference}">6030-062</span></h4>
            <h4>Dimensions : <span th:text="${cetarticle.dimension}">30*30cm</span></h4>
            <h4>Vendu par : <span th:text="${cetarticle.lot_vente}"> à l'unité</span></h4>
            <h4> Prix: <span th:text="${cetarticle.prix}"> 75.00</span><span class="glyphicon glyphicon-euro">/u</span></h4>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 tableaucouleurs">
            <table class="table table-responsive" style="text-align: center;">
                <thead>
                <th class="col-xs-3">couleur</th>
                <th>nom de la couleur</th>
                <th>quantité</th>
                </thead>
                <tbody>
                <tr th:each="couleur : ${sescouleurs}">
                    <td><img th:src="${couleur.image_couleur}" class="img img-responsive"></td>
                    <td th:text="${couleur.nom_couleur}"></td>
                    <td><input type="number"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row space-ten">
        <form>
            <div class="space-ten "></div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter à mon panier</button>
        </form>
    </div>
</div>
