<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<form method="post">
    <div class="modal-header">
        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        <h3 th:text="${'Supression de '+cetarticle.nom_article}"  class="modal-title">Plat rectangulaire</h3>
    </div>

    <div class="modal-body">
        <div class="row" style="margin-bottom: 20px;">

            <div class="col-xs-6">
                <img th:src="${cetarticle.image}" class="img-responsive">
            </div>
            <div class="col-xs-6">
                <h4>Nom : <span th:text="${cetarticle.nom_article}">Plat rectangulaire</span></h4>
                <h4>Description : <span th:text="${cetarticle.description}">Plat rectangulaire à fond creusé</span></h4>
                <h4>Référence : <span th:text="${cetarticle.reference}">6030-062</span></h4>
                <h4>Dimensions : <span th:text="${cetarticle.dimension}">30*30cm</span></h4>
                <h4>Vendu par : <span th:text="${cetarticle.lot_vente}"> à l'unité</span></h4>
                <h4>Prix: <span th:text="${cetarticle.prix}"> 75.00</span><span class="glyphicon glyphicon-euro">/u</span></h4>

            </div>
            <p>Voulez vous vraiment supprimer cet article?</p>
            <a class="btn btn-primary">Annuler</a>
            <a class="btn btn-primary" th:href="${'SupprimerArticle?id='+cetarticle.id_article}">Supprimer</a>
        </div>

    </div>
</form>

</html>
