<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
	  <!-- Bootstrap -->
	  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
	  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
	  <link href="css/styleMonCompte.css" type="text/css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="css/style-perso.css">
	  <script src="js/jquery-3.2.1.js"></script>
	  <script src="js/bootstrap.js"></script>
	  <meta charset="utf-8"/>
	  <title>Mon Compte Admin</title>
	</head>
	<body>
		<div class="page">
			<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>


		<div class="modifClass">
		  <h2>Mon compte</h2>
		  <div class="formulaireModifFieldset">
		  	<div class="formulaireModif">
			  <form method="post" class="form-horizontal" action="/action_page.php">

			    <!-- Nom -->
			  	<div class="form-group row">
			      <label for="nom" class="col-xs-4">Nom:</label>
			      <input type="nom" class="inputText col-xs-4" id="nom" placeholder="Entrer votre nom" name="nom">
			    </div>
			    <!-- Prénom -->
			  	<div class="form-group row">
			      <label for="prenom" class="col-xs-4">Prénom:</label>
			      <input type="prenom" class="inputText col-xs-4" id="prenom" placeholder="Entrer votre prénom" name="prenom">
			    </div>
			    <!-- Email -->
			    <div class="form-group row">
			      <label for="email" class="col-xs-4">Email:</label>
			      <input type="email" class="inputText col-xs-4" id="email" placeholder="Entrer votre email" name="email">
			    </div>

			    <div class="boutons">
			    	<button type="submit" class="btn btn-primary boutonModif">Modifier</button>
				</div>
				<p><a href="modifMDP" class="linkDevis" role="button">Modifier mon mot de passe</a></p>
			  </form>
		    </div>
		   </div>
		</div>
		

		<div class="precedentlefooter"></div>

	<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
	</div>
	</body>
</html>