<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	  <!-- Bootstrap -->
	  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
	  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
	  <link href="css/styleMonCompte.css" type="text/css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="css/style-perso.css">
	  <script src="js/jquery-3.2.1.js"></script>
	  <script src="js/bootstrap.js"></script>
	  <meta charset="utf-8"/>
	  <title>Mon compte</title>
	</head>
	<body>
		<div class="page">
			<div th:switch="${statut}">
				<div th:case="'admin'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
				</div>
				<div th:case="'client'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
				</div>
				<div th:case="'visiteur'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
				</div>
			</div>


		<div class="modifClass">
		  <h2>Mon compte</h2>
		  <div class="formulaireModifFieldset">
		  	<div class="formulaireModif">
			  <form method="post" class="form-horizontal" action="monCompteClient" accept-charset="utf-8">

				  <!-- ID CompteClient -->
				  <div class="form-group row">
					  <label for="idCompteClient" class="col-xs-4">ID compte client:</label>
					  <input type="text" class="inputText col-xs-4" id="idCompteClient" th:value="${idCompteClient}" placeholder="Entrer le nom de votre entreprise" name="idCompteClient">
				  </div>
			  	<!-- Nom Entreprise -->
			  	<div class="form-group row">
			      <label for="nomBoutique" class="col-xs-4">Nom entreprise:</label>
			      <input type="text" class="inputText col-xs-4" id="nomBoutique" th:value="${nomBoutique}" placeholder="Entrer le nom de votre entreprise" name="nomBoutique">
			    </div>
			    <!-- Nom -->
			  	<div class="form-group row">
			      <label for="nomGerant" class="col-xs-4">Nom:</label>
			      <input type="text" class="inputText col-xs-4" id="nomGerant" th:value="${nomGerant}" placeholder="Entrer votre nom" name="nomGerant">
			    </div>
			    <!-- Prénom -->
			  	<div class="form-group row">
			      <label for="prenomGerant" class="col-xs-4">Prénom:</label>
			      <input type="text" class="inputText col-xs-4" id="prenomGerant" th:value="${prenomGerant}" placeholder="Entrer votre prénom" name="prenomGerant">
			    </div>
			    <!-- Code Postal de l'entreprise -->
			  	<div class="form-group row">
			      <label for="codePostal" class="col-xs-4">Code postal:</label>
			      <input type="text" class="inputText col-xs-4" id="codePostal" th:value="${codePostal}" placeholder="Entrer le code postal de votre entreprise" name="codePostal">
			    </div>
			    <!-- Ville de l'entreprise -->
				  <div class="form-group row">
					  <label for="ville" class="col-xs-4">Ville:</label>
					  <input type="text" class="inputText col-xs-4" id="ville" th:value="${ville}" placeholder="Entrer la ville où se situe votre entreprise" name="ville">
				  </div>
				  <!-- Adresse de l'entreprise -->
				  <div class="form-group row">
					  <label for="adresse" class="col-xs-4">Adresse:</label>
					  <input type="text" class="inputText col-xs-4" id="adresse" th:value="${adresse}" placeholder="Entrer l'adresse où se situe votre entreprise" name="adresse">
				  </div>
			    <!-- Email -->
			    <div class="form-group row">
			      <label for="email" class="col-xs-4">Email:</label>
			      <input type="text" class="inputText col-xs-4" id="email" th:value="${email}" placeholder="Entrer votre email" name="email">
			    </div>
			    <!-- N° de TVA de l'entreprise -->    
			    <div class="form-group row">
			      <label for="numeroTva" class="col-xs-4">N° de TVA:</label>
			      <input type="text" class="inputText col-xs-4" id="numeroTva" th:value="${numeroTva}" placeholder="Entrer votre numéro de TVA" name="numeroTva">
			    </div>
			    <!-- Téléphone de l'entreprise -->
			    <div class="form-group row">
			      <label for="numeroTel" class="col-xs-4">Téléphone:</label>
			      <input type="text" class="inputText col-xs-4" id="numeroTel" th:value="${numeroTel}" placeholder="Entrer votre numéro de téléphone" name="numeroTel">
			    </div>
			    <!-- Site de l'entreprise -->    
			    <div class="form-group row">
			      <label for="siteInternet" class="col-xs-4">Site internet:</label>
			      <input type="text" class="inputText col-xs-4" id="siteInternet" th:value="${siteInternet}" placeholder="Entrer l'adresse de votre site Internet" name="siteInternet">
			    </div>

			    <!-- Description de l'entreprise -->  
			    <div class="form-group">
			      <label for="descriptionActivite">Description de l'activité:</label>
			      <textarea class="form-control" rows="5" id="descriptionActivite" th:text="${descriptionActivite}" name="descriptionActivite"></textarea>
			    </div>
			    <div class="boutons">
			    	<button type="submit" class="btn btn-primary boutonModif">Modifier</button>
				</div>
				<p><a href="/modifMDP" class="linkDevis" role="button">Modifier mon mot de passe</a></p>
			  </form>
		    </div>
		   </div>
		</div>
		

		<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>
	</body>
</html>