<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="css/style-perso.css" type="text/css" rel="stylesheet">
    <link href="css/styleNouveautes.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <meta charset="utf-8"/>
    <title>Nouveautés</title>

</head>

<body>

<div class="page">

    <div th:switch="${statut}">
        <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
        </div>
        <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
        </div>
        <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
        </div>
    </div>

<main role="main">

    <section class="jumbotron text-center titreBloc">
        <div class="container">
            <h2 class="titreNouveautes">Les nouveautés</h2>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4 boiteNouveaute" th:each="articlesRecents: ${listOf9LastArticles}">
                    <div class="card mb-4 box-shadow">
                        <img class="classImg" th:src="${articlesRecents.image}" th:alt="${articlesRecents.nom_article}">
                        <div>
                            <p class="classDesc" th:text="${articlesRecents.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
    <div class="precedentlefooter"></div>

    <footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>
</body>


</html>