<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap -->
  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="css/style-perso.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style-perso.css">
  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <meta charset="utf-8"/>
  <title>Présentation Collection</title>
</head>
 
<body>
  <div class="page">
<nav class="navbar hautdepage">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="row rowPerso">
    <div class="col-xs-10 nav navbar-nav liste-hautdepage">
      
        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2 classHome"><a href="accueil.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a></div>
        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="presentationcollection.html">Collection</a></div>
        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="#">Nouveautés</a></div>
        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="lescoloris.html">Coloris</a></div>
        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="#">Rose Corail</a></div>
    </div>
<div class="col-xs-2">
    <ul class="flotte-droite-dropdown onglet-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle onglet-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thibaut DEMORY<span class="caret"></span></a>
          <ul class="dropdown-menu navbar-nav nav navbar-right">
                      <li class="item-menu-deroulant"><a href="monCompteClient.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Mon compte</a></li>
                      <li class="item-menu-deroulant"><a href="panier.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Mon panier</a></li>
                      <li class="item-menu-deroulant"><a href="devisClient.html"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  Mes devis</a></li>
                      <li class="item-menu-deroulant"><a href="deconnexion.html"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Me déconnecter</a></li>
                    </ul>
        </li>
      </ul>
</div>
</div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="contenu">
<div id="carousel-collection" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-collection" data-slide-to="0" class=""></li>
    <li data-target="#carousel-collection" data-slide-to="1" class="active"></li>
  </ol>
  
  <div class="carousel-inner" role="listbox">
    
    <div class="item carousel-img-div">
      <img class="img-responsive" src="images\photoaccueil.jpg" alt="image1">
      <img class="logoRoseCorail" src="images\rosecoraillogo.jpg" alt="logoRoseCorail">
    </div>
    <div class="item carousel-img-div active">
      <img class="img-responsive" src="images\photoambiance.jpg" alt="image2">
      <img class="logoRoseCorail" src="images\rosecoraillogo.jpg" alt="logoRoseCorail">
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-collection" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-collection" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container ">
      <div class="col-xs-12 col-sm-4 margin-bottom">
        <figure>
          <a href="lesPlats.html"><img class="img-responsive" src="images/lesplats.jpg" alt="les plat"></a><figcaption class="text-center col-xs-12 no-padding">Les plats</figcaption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4 margin-bottom">
        <figure>
          <a href="Lesportescouteaux.html"><img class="img-responsive" src="images/lesportescouteaux.jpg" alt="les portes couteaux"></a><figcaption class="text-center col-xs-12 no-padding">Les portes couteaux et décorations de table</figcaption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-4 margin-bottom">
        <figure>
          <a href="leverretransparent.html"><img class="img-responsive" src="images/lesverrestransparents.jpg" alt="les verres transparents"></a><figcaption class="text-center col-xs-12 no-padding">Les verres transparents</figcaption>
        </figure>
      </div>
</div>
</div>
<div class="precedentlefooter"></div>

<footer class="navbar basdepage">
<div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class=" container">
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Collection</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Nouveautés</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Coloris</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Rose Corail</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Nous contacter</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Mentions légales</a></div>
      
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</footer>
</div>

    </body> 
</html>
