<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap -->
  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="css/styleAccueilPerso.css" type="text/css" rel="stylesheet">
  <link href="css/style-perso.css" type="text/css" rel="stylesheet">
  <link href="css/styleStatistiques.css" type="text/css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <meta charset="utf-8"/>
  <title>Mes statistiques</title>
</head>
<body>
	<div class="page">
	<nav class="navbar hautdepage">
		 <div class="container-fluid">
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<div class="row rowPerso">
		    		<div class="col-xs-10 nav navbar-nav liste-hautdepage">
		      
				        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2 classHome"><a href="accueil.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a></div>
				        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="presentationcollection.html">Collection</a></div>
				        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="#">Nouveautés</a></div>
				        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="lescoloris.html">Coloris</a></div>
				        <div class="onglet-nav col-xs-12 col-sm-6 col-md-2"><a href="#">Rose Corail</a></div>
				    </div>
					<div class="col-xs-2">
					    <ul class="flotte-droite-dropdown onglet-nav">
					        <li class="dropdown">
					          <a href="#" class="dropdown-toggle onglet-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Béatrice ROQUETTE<span class="caret"></span></a>
					          <ul class="dropdown-menu navbar-nav nav navbar-right">
					            <li class="item-menu-deroulant"><a href="monCompteRC.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Mon compte</a></li>
					            <li class="item-menu-deroulant"><a href="statistiques.html"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Statistiques</a></li>
					            <li class="item-menu-deroulant"><a href="devisRC.html"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  Les devis</a></li>
					            <li class="item-menu-deroulant"><a href="formulaire.html"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Modification du site</a></li>
					            <li class="item-menu-deroulant"><a href="deconnexion.html"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Me déconnecter</a></li>
					          </ul>
					        </li>
					      </ul>
					</div>
				</div>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		
		<div class="contenu">
			<h2>Statistiques</h2>

			<div class="bandeauMois">
				<ul>
					<li><a class="mois-lien" href="#">Janvier</a></li>
					<li><a class="mois-lien" href="#">Février</a></li>
					<li><a class="mois-lien" href="#">Mars</a></li>
					<li><a class="mois-lien" href="#">Avril</a></li>
					<li><a class="mois-lien" href="#">Mai</a></li>
					<li><a class="mois-lien" href="#">Juin</a></li>
					<li><a class="mois-lien" href="#">Juillet</a></li>
					<li><a class="mois-lien" href="#">Août</a></li>
					<li><a class="mois-lien" href="#">Septembre</a></li>
					<li><a class="mois-lien" href="#">Octobre</a></li>
					<li><a class="mois-lien" href="#">Novembre</a></li>
					<li><a class="mois-lien" href="#">Décembre</a></li>
					<li style="float:none;"><br style="clear:both;" /></li>
				</ul>
			</div>

			<div class="bandeauMois">
				<ul>
					<li><a class="mois-lien" href="#">2014</a></li>
					<li><a class="mois-lien" href="#">2015</a></li>
					<li><a class="mois-lien" href="#">2016</a></li>
					<li><a class="mois-lien" href="#">2017</a></li>
					<li><a class="mois-lien" href="#">2018</a></li>
				</ul>
			</div>

			<div class="contenuHaut">
				<h3>Historique des ventes</h3>
				<canvas id="myChart" class="graphique1"></canvas>
				<script type="text/javascript">
					var ctx = document.getElementById('myChart').getContext('2d');
					var myChart = new Chart(ctx, {
					  type: 'line',
					  data: {
					    labels: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre'],
					    datasets: [{
					      label: 'les plats',
					      data: [120, 190, 30, 170, 60, 30, 70, 230, 130],
					      backgroundColor: "rgba(153,255,51,0.4)"
					    }, {
					      label: 'décor de table',
					      data: [20, 290, 50, 50, 20, 30, 100, 140, 180],
					      backgroundColor: "rgba(255,153,0,0.4)"
					    }, {
					      label: 'portes couteaux',
					      data: [20, 190, 150, 50, 120, 60, 200, 120, 400],
					      backgroundColor: "rgba(0,0,255,0.4)"
					    }]
					  }
					});
				</script>
			</div>

			<div class="contenuGauche">
				<h3>Les 5 articles les plus vendus</h3>
				<canvas id="myChart5"></canvas>
					<script type="text/javascript">
						var ctx = document.getElementById("myChart5").getContext('2d');
						var myChart = new Chart(ctx, {
						  type: 'doughnut',
						  data: {
						    labels: ["Plats à cake", "Plats à fromage", "Coupelles", "Dessous de plats", "Porte couteaux"],
						    datasets: [{
						      backgroundColor: [
						        "#2ecc71",
						        "#3498db",
						        "#95a5a6",
						        "#9b59b6",
						        "#f1c40f"
						      ],
						      data: [12, 19, 23, 21, 38]
						    }]
						  }
						});
					</script>
			</div>

			<div class="contenuDroit">
				<h3>Les 5 articles les plus vus</h3>
				<canvas id="myChart6"></canvas>
					<script type="text/javascript">
						var ctx = document.getElementById("myChart6").getContext('2d');
						var myChart = new Chart(ctx, {
						  type: 'doughnut',
						  data: {
						    labels: ["Plats à cake", "Plats à fromage", "Coupelles", "Dessous de plats", "Porte couteaux"],
						    datasets: [{
						      backgroundColor: [
						        "#2ecc71",
						        "#3498db",
						        "#95a5a6",
						        "#9b59b6",
						        "#f1c40f"
						      ],
						      data: [120, 219, 73, 217, 128]
						    }]
						  }
						});
					</script>
			</div>

			<div class="contenuBas">
				<h3>Les 5 coloris les plus demandés</h3>
				<canvas id="myChart4"></canvas>
				<script type="text/javascript">
					var ctx = document.getElementById("myChart4").getContext('2d');
					var myChart = new Chart(ctx, {
					  type: 'pie',
					  data: {
					    labels: ["Bordeaux 019", "Turquoise 020", "Sapin bleuté 091", "Elephant 035", "Fuchsia 085"],
					    datasets: [{
					      backgroundColor: [
					        "#2ecc71",
					        "#3498db",
					        "#95a5a6",
					        "#9b59b6",
					        "#f1c40f"
					      ],
					      data: [12, 19, 3, 17, 28]
					    }]
					  }
					});
				</script>
			</div>


		</div>


		<div class="precedentlefooter"></div>

<footer class="navbar basdepage">
<div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class=" container">
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Collection</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Nouveautés</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Coloris</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Rose Corail</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Nous contacter</a></div>
    <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Mentions légales</a></div>
      
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</footer>
</div>
	</body>
</html>