<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	  <!-- Bootstrap -->
		<link href="/RoseCorail/css/bootstrap.css" type="text/css" rel="stylesheet">
		<link href="/RoseCorail/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
		<link href="/RoseCorail/css/style-perso.css" type="text/css" rel="stylesheet">
		<script src="/RoseCorail/js/jquery-3.2.1.js"></script>
		<script src="/RoseCorail/js/bootstrap.js"></script>
		<script src="/RoseCorail/js/DevisRC.js"></script>


	  <meta charset="utf-8"/>
	  <title>Les devis</title>
	</head>
	<body>
		<div class="page">
			<div th:switch="${statut}">
				<div th:case="'admin'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
				</div>
				<div th:case="'client'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
				</div>
				<div th:case="'visiteur'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
				</div>
			</div>
		<div class="contenu">
			<h2 class="col-xs-4 col-xs-offset-5">Les devis</h2>
			<div class="container">
				<table class="table table-hover tableau">
				    <thead>
				      <tr>
						  <th>Devis n°</th>
				      	<th>Boutique</th>
				        <th>Date</th>
				        <th>Nombre d'articles commandés</th>
				        <th>Prix total de la commande</th>
				        <th>Modifier état</th>
				        <th>Voir</th>
				        <th>Supprimer</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="devis : ${lesdevisRC}">
						  <td th:text="${devis.idDevis}"></td>
				      	<td th:text="${devis.boutique}">Decathlon</td>
				        <td th:text="${devis.date}">21/02/2017</td>
				        <td th:text="${devis.nbreArticles}">36</td>
				        <td th:text="${devis.prixTotal}">804</td>
						  <td><select th:class="${'etat'+devis.idDevis}" th:onchange="'changerletatdelaligne('+${devis.idDevis}+')'" th:name="${'etat'+devis.idDevis}">
							  <option th:selected="${devis.etat.equals('en préparation')}" value="en préparation">en préparation</option>
							  <option th:selected="${devis.etat.equals('expédié')}" value="expédié">expédié</option>
							  <option th:selected="${devis.etat.equals('annulé')}" value="annulé">annulé</option>
						  </select></td>
				        <td><a onclick="window.open(this.href); return false;" th:href="${'/RoseCorail/AffichageDevis?id='+devis.idDevis}" class="glyphicon glyphicon-file"></a></td>
				        <td><a th:href="${'/RoseCorail/administration/ModalSuppressionDevis?id'+devis.idDevis}" class="glyphicon glyphicon-trash"></a></td>
				      </tr>

				    </tbody>
				</table>
			</div>
			<div class="col-xs-offset-5">
				<a href="/RoseCorail/lesPlats" class="btn btn-primary" role="button">Retourner aux articles</a>
			</div>
		</div>

		<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>
</body>
</html>