<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 
<head>
  <!-- Bootstrap -->
  <link href="/RoseCorail/css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="/RoseCorail/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="/RoseCorail/css/style-perso.css" type="text/css" rel="stylesheet">
  <link href="/RoseCorail/css/styleFormulaire.css" type="text/css" rel="stylesheet">
  <script src="/RoseCorail/js/jquery-3.2.1.js"></script>
  <script src="/RoseCorail/js/bootstrap.js"></script>
  <meta charset="utf-8"/>
  <title>Que faire</title>
</head>
 
    <body>
      <div class="page">
        <div th:switch="${statut}">
          <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
          </div>
          <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
          </div>
          <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
          </div>
        </div>

        <div class="container">
          <H1 class="text-center aere">Que voulez vous faire ?</H1>
          <div class="row">
            <h3>Les Articles</h3>
            <a class="btn btn-primary" href="/RoseCorail/administration/ajoutArticle">Ajouter un article</a>
            <a class="btn btn-warning" href="/RoseCorail/lesPlats">Modifier un article</a>
          </div>
          <div class="row">
            <h3>Les Actualités</h3>
            <a class="btn btn-primary" href="/RoseCorail/administration/ajoutActualite">Ajouter une actualité</a>
            <a class="btn btn-warning" href="/RoseCorail/administration/modifActualiteEntrerReference">Modifier une actualité</a>
          </div>
          <div class="row">
            <h3>Les Coloris</h3>
            <a class="btn btn-primary" href="/RoseCorail/administration/ajoutColoris">Ajouter un coloris</a>
            <a class="btn btn-warning" href="/RoseCorail/administration/voirlescoloris">Modifier les coloris existants</a>
          </div>
          <div class="row">
            <h3>Les panels de couleur</h3>
            <a class="btn btn-primary" href="/RoseCorail/administration/AjoutPanelColoris">Ajouter un panel de couleurs</a>
            <a class="btn btn-warning" href="/RoseCorail/lesColoris">Modifier un panel de couleurs</a>
          </div>
          <div class="row">
            <h3>Modifier des photos de présentation</h3>
            <a class="btn btn-warning" href="/RoseCorail/administration/modifierphotosaccueil">Modifier les photos de l'accueil ou Collection ou Coloris</a>
          </div>
        </div>


<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>

    </body> 
</html>
