<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 
<head>
  <!-- Bootstrap -->
  <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="../css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="../css/style-perso.css" type="text/css" rel="stylesheet">
  <link href="../css/styleFormulaire.css" type="text/css" rel="stylesheet">
  <script src="../js/jquery-3.2.1.js"></script>
  <script src="../js/bootstrap.js"></script>
  <meta charset="utf-8"/>
  <title>Que faire</title>
</head>
 
    <body>
      <div class="page">
        <div th:switch="${statut}">
          <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
          </div>
          <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
          </div>
          <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
          </div>
        </div>

        <div class="container">
          <H1 class="text-center aere">Que voulez vous faire ?</H1>
          <div class="ajout">

            <a href="ajoutArticle" class="col-md-offset-5 col-md-2 greenButton">Ajouter un article</a>

          </div>
          <div class="modif">
            <a href="ajoutActualite" class="col-md-2 greenButton">Ajouter une actualité</a>
            <a href="ajoutColoris" class="col-md-2 greenButton">Ajouter un coloris</a>
          </div>
          <div class="ajout">
            <a href="#" class="col-md-2 redButton">Modifier les photos de l'accueil</a>
            <a href="lesPlats" class="col-md-2 redButton">Modifier/Supprimer un article</a>
            <a href="modifActualiteEntrerReference" class="col-md-2 redButton">Modifier/Supprimer une actualité</a>
            <a href="modifColorisEntrerReference" class="col-md-2 redButton">Modifier/Supprimer un coloris</a>
          </div>
          <div class="modif">
            <a href="#" class="col-md-2 redButton">Modifier les photos de la collection</a>
            <a href="#" class="col-md-2 redButton">Modifier la couleur de fond du site</a>
          </div>
          <div class="ajout">
            <a href="#" class="col-md-5"></a>
            <a href="/modifierPageColoris" class="col-md-2 redButton">Modifier les couleurs de la page couleurs</a>
            <a href="#" class="col-md-5"></a>
          </div>
        </div>


<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>

    </body> 
</html>
