<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="modal-header">
    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>

</div>

<div class="modal-body">
    <div class="row" style="margin-bottom: 20px;">
        <h5>Devis n° : <span th:text="${cedevis.id_devis}"></span></h5>
        <h5>Date : <span th:text="${cedevis.date}"></span></h5>
        <h5>Etat : <span th:text="${cedevis.etat}"></span></h5>


        <p>Voulez vous vraiment supprimer ce devis? Ce devis sera définitivement supprimer de la base de donnée</p>
        <button data-dismiss="modal" class="btn btn-primary">Supprimer</button>
        <a class="btn btn-primary" th:href="${'/RoseCorail/administration/SuppressionDevis?id='+cedevis.id_devis}">Annuler devis</a>
    </div>

</div>


</html>