<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="../css/style-perso.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/bootstrap.js"></script>
    <meta charset="utf-8"/>
    <title>Modif coloris</title>
</head>

<body>
<div class="page">
    <div th:switch="${statut}">
        <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
        </div>
        <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
        </div>
        <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
        </div>
    </div>

    <div class="container">
        <H1 class="text-center aere">Modification d'un coloris</H1>
        <form  id="addColoris" enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-1 form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="nomColoris">Nom : </label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="nomColoris" name="nomColoris" placeholder="nom du coloris" th:value="${nomColoris}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="numeroColoris">Numero : </label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="numeroColoris" name="numeroColoris" placeholder="numéro du coloris" th:value="${numeroColoris}">
                        </div>
                    </div>
                    <input type="hidden" name="idColoris" th:value="${idColoris}">

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="imageColoris">Image : </label>
                        <div class="col-xs-9">
                            <input type="file" class="form-control" id="imageColoris" name="imageColoris" th:src="${imageColoris}" >
                            <span>Pour un meilleur affichage, sélectionner une image de dimension minimale: 500x500</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="saisonColoris">Saison : </label>
                        <div class="col-xs-9">
                            <select class="form-control" id="saisonColoris" name="saisonColoris">
                                <option th:selected="${saisonColoris.equals('Printemps-Ete 2017')}">Printemps-Ete 2017</option>
                                <option th:selected="${saisonColoris.equals('Automne-Hiver 2017')}">Automne-Hiver 2017</option>
                                <option th:selected="${saisonColoris.equals('Printemps-Ete 2018')}">Printemps-Ete 2018</option>
                                <option th:selected="${saisonColoris.equals('Automne-Hiver 2018')}">Automne-Hiver 2018</option>
                                <option th:selected="${saisonColoris.equals('Printemps-Ete 2019')}">Printemps-Ete 2019</option>
                                <option th:selected="${saisonColoris.equals('Automne-Hiver 2019')}">Automne-Hiver 2019</option>
                                <option th:selected="${saisonColoris.equals('Printemps-Ete 2020')}">Printemps-Ete 2020</option>
                                <option th:selected="${saisonColoris.equals('Automne-Hiver 2020')}">Automne-Hiver 2020</option>
                                <option th:selected="${saisonColoris.equals('Printemps-Ete 2021')}">Printemps-Ete 2021</option>
                                <option th:selected="${saisonColoris.equals('Automne-Hiver 2021')}">Automne-Hiver 2021</option>
                                <option th:selected="${saisonColoris.equals('Printemps-Ete 2022')}">Printemps-Ete 2022</option>
                                <option th:selected="${saisonColoris.equals('Automne-Hiver 2022')}">Automne-Hiver 2022</option>
                            </select>

                        </div>
                    </div>
                </div>


            </div>
            <span class="help-block"></span>
            <div class="hauteur-200"></div><!-- Ajoute un peu de hauteur pour éviter que le footer ne remonte trop-->
            <div class="col-xs-offset-4 col-xs-1">
                <a href="/administration/formulaire" class="btn btn-primary btn-lg">Annuler</a>
            </div>
            <div class="col-xs-offset-1 col-xs-1">
                <button type="submit" class="btn btn-primary btn-lg">Modifier</button>
            </div>
        </form>
    </div>



    <div class="precedentlefooter"></div>

    <footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>


</body>
</html>
