<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="../css/style-perso.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/bootstrap.js"></script>
    <meta charset="utf-8"/>
    <title>ModifierPhotosCollection</title>
</head>

<body>
<div class="page">
    <div th:switch="${statut}">
        <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
        </div>
        <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
        </div>
        <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
        </div>
    </div>

    <div class="container">
        <H1 class="text-center aere">Modifier les photos de la page de présentation des collections</H1>
        <h2> les photos actuelles:</h2>
        <div class="row">
            <div class="col-xs-3">
                <figure><img  class="img-responsive" src="photos\RC-img1.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <div class="col-xs-3">
                <figure><img class="img-responsive" src="photos\RC-img2.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <div class="btn btn-primary"><a href="" class="white">Ajouter une photo</a></div>
        </div>

        <p align="center"></p>

        <h2> les photos actuelles:</h2>
        <div class="row">
            <div class="col-xs-4">
                <h4>Les plats:</h4>
                <figure><img  class="img-responsive" src="photos\RC-img1.jpg"><figcaption><a href="">Changer la photo</a></figcaption></figure>
            </div>
            <div class="col-xs-4">
                <h4>Les portes couteaux:</h4>
                <figure><img  class="img-responsive" src="photos\RC-img1.jpg"><figcaption><a href="">Changer la photo</a></figcaption></figure>
            </div>
            <div class="col-xs-4">
                <h4>Le verre transparent:</h4>
                <figure><img  class="img-responsive" src="photos\RC-img1.jpg"><figcaption><a href="">Changer la photo</a></figcaption></figure>
            </div>

        </div>
    </div>


    <div class="precedentlefooter"></div>

    <footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>

</div>

</body>
</html>
