<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="../css/style-perso.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/bootstrap.js"></script>
    <meta charset="utf-8"/>
    <title>Modifier les Photos</title>
</head>

<body>
<div class="page">
    <div th:switch="${statut}">
        <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
        </div>
        <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
        </div>
        <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
        </div>
    </div>

    <div class="container">
        <H1 class="text-center aere">Modifier les photos</H1>
        <div class="row">
            <h2> Les photos du caroussel de la page d'accueil</h2>
            <div class="col-xs-3">
                <figure><img  class="img-responsive" src="/photos/RC-img1.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <div class="col-xs-3">
                <figure><img class="img-responsive" src="/photos/RC-img2.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <a href="" class="btn btn-primary">Ajouter une photo</a>
        </div>

        <div class="row">
            <h2> Les photos du caroussel de la page Collection</h2>
            <div class="col-xs-3">
                <figure><img  class="img-responsive" src="/photos/RC-img1.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <div class="col-xs-3">
                <figure><img class="img-responsive" src="/photos/RC-img2.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <a href="" class="btn btn-primary">Ajouter une photo</a>
        </div>

        <div class="row">
            <h2> Les photos associées aux images de chaque catégorie</h2>
            <div class="col-xs-3">
                <figure><img  class="img-responsive" src="/photos/RC-img1.jpg"><figcaption><a href="">Modifier cette photo</a></figcaption></figure>
            </div>
            <div class="col-xs-3">
                <figure><img class="img-responsive" src="/photos/RC-img2.jpg"><figcaption><a href="">Modifier cette photo</a></figcaption></figure>
            </div>
            <a href="" class="btn btn-primary">Ajouter une photo</a>
        </div>
        <div class="row">
            <h2>La photo de présentation de Coloris</h2>
            <div class="col-xs-3">
                <figure><img  class="img-responsive" src="/photos/RC-img1.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <a href="" class="btn btn-primary">Modifier la photo</a>
        </div>
    </div>
    <div class="precedentlefooter"></div>
    <footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>

</body>
</html>
