<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<html>
 
<head>
    <script type="text/javascript">
        window.onload=function () {
            fonction();
        }
        function fonction(){
            var select = document.getElementById("listColoris");
            var valeur = select.options[select.selectedIndex].value;

            var deleteLink = document.getElementById("deleteLink");
            var modifyLink = document.getElementById("modifyLink");

            deleteLink.setAttribute('href', '/RoseCorail/administration/supprimerColoris?id='+valeur);
            modifyLink.setAttribute('href', '/RoseCorail/administration/modifierColoris?id='+valeur);
        }
    </script>

  <!-- Bootstrap -->
  <link href="/RoseCorail/css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="/RoseCorail/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="/RoseCorail/css/style-perso.css" type="text/css" rel="stylesheet">
  <link href="/RoseCorail/css/styleModifColorisEntrerReference.css" type="text/css" rel="stylesheet">
  <script src="/RoseCorail/js/jquery-3.2.1.js"></script>
  <script src="/RoseCorail/js/bootstrap.js"></script>

  <meta charset="utf-8"/>
  <title>Modif/Supp Coloris</title>
</head>
 
<body>
<div class="page">
    <div th:switch="${statut}">
        <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
        </div>
        <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
        </div>
        <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
        </div>
    </div>

    <div class="container">
    <h2 class="text-center aere">Sélectionner la référence de la couleur que vous souhaitez modifier ou supprimer</h2>

      <div class="choixRef">
        <div class="col-xs-6 form-horizontal">
          <div class="form-group">
            <label class="col-xs-3 control-label">Référence : </label>
              <div class="col-xs-9">
                  <select class="form-control" name="listColoris" id="listColoris" onchange="fonction();">
                      <option th:each="coloris : ${listeColoris}" th:text="${coloris.numero_couleur}+' - '+${coloris.nom_couleur}" th:value="${coloris.id_couleur}"></option>
                  </select>
              </div>
          </div>
        </div>

        <div class="col-xs-6 form-horizontal">
          <div class="col-xs-6">
            <div class="col-xs-4"></div>
            <a th:href="${'/RoseCorail/administration/modifierColoris?id='}" class="btn btn-primary bouton" id="modifyLink">Modifier</a>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-4"></div>
            <a th:href="${'/RoseCorail/administration/supprimerColoris?id='}" class="btn btn-danger bouton" id="deleteLink">Supprimer</a>
          </div>
        </div>
      </div>
        <div class="help-block"></div>
        <div class="row aere">
            <a href="/administration/formulaire" class=" aere btn btn-primary"> Retourner au formulaire</a>
        </div>
</div>



<div class="precedentlefooter"></div>

    <footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>



    </body> 
</html>
