<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 
<head>
  <!-- Bootstrap -->
  <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
  <link href="css/style-perso.css" type="text/css" rel="stylesheet">
  <link href="css/Lesplats.css" type="text/css" rel="stylesheet">
  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/feuille-presentation-plat-js.js"></script>
  <meta charset="utf-8"/>
  <title>Modifier les plats</title>
</head>
 
<body>
  <div class="page">
    <div th:switch="${statut}">
      <div th:case="'admin'">
        <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
      </div>
      <div th:case="'client'">
        <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
      </div>
      <div th:case="'visiteur'">
        <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
      </div>
    </div>
<div class="container-fluid">
  <div class="row">
          <h1 class="text-center aere">Les plats <span class="glyphicon glyphicon-plus"></span></h1>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2"> <!--Colone de gauche qui contient le menu, et les filtres-->
      
      <ul class="nav nav-pills nav-stacked couleur-rose-corail">
        <li role="presentation" class="active"><a href="lesPlats">Les plats</a></li>
        <li role="presentation"><a href="lesPortesCouteaux">Les portes couteaux et décorations</a></li>
        <li role="presentation"><a href="leVerreTransparent">Le verre transparent</a></li>
      </ul>

      <h3>Les couleurs</h3>
      <form>
        <div id="choix-des-couleurs">
          <div class="checkbox"><label><input type="checkbox" value="" name="">couleur 1</label></div>
          <div class="checkbox"><label><input type="checkbox" value="" name="">couleur 2</label></div>
          <div class="checkbox"><label><input type="checkbox" value="" name="">couleur 3</label></div>
          <div class="checkbox"><label><input type="checkbox" value="" name="">couleur 4</label></div>
          <div class="checkbox"><label><input type="checkbox" value="" name="">couleur 5</label></div>
          <div class="checkbox"><label><input type="checkbox" value="" name="">couleur 6</label></div>
          <div class="checkbox"><label><input type="checkbox" value="" name="">couleur 7</label></div>
          <button type="submit" class="btn btn-default">Soumettre</button>
        </div>
      </form>
    </div>

    <div class="col-xs-8 col-sm-10"><!--à droite, on met les articles avec les noms et prix-->
      <h3 class="col-sm-offset-1 col-md-offset-1 titre">Plats à cake</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>

          <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
            <div class="col-xs-10">
              <figure>
                <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
              </figure>
            </div>
            <div class="col-xs-2">
              <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
              <span class="glyphicon glyphicon-pencil modification-suppression"></span>
            </div>
          </div>
      </div>

      <h3 class="col-sm-offset-1 col-md-offset-1 titre">Plats à fromage</h3>
      <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
      </div>

      <h3 class="col-sm-offset-1 col-md-offset-1 titre">Coupelle</h3>
      <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-sm-offset-1 col-md-offset-1 margin-bottom">
          <div class="col-xs-10">
            <figure>
              <img class="img-responsive" src="images/photo2.jpg" alt="un plat"><figcaption class="col-xs-8 no-padding">Un plat</figcaption><figcaption class="col-xs-4 text-right no-padding">12 euros</figcaption>
            </figure>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash modification-suppression" data-toggle="modal" data-target="#suppression-article"></span>
            <span class="glyphicon glyphicon-pencil modification-suppression"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade " id="suppression-article">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            <h3 class="modal-title text-center">êtes vous sur de vouloir supprimer cet article ? </h3>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <img src="images/photo2.jpg" class="img-responsive">
              </div>
              <div class="col-md-6">
                        <h4>Description : <span>Plat rectangulaire à fond creusé</span></h4>
                        <h4>Référence : <span>6030-062</span></h4>
                        <h4>Dimensions : <span>30*30cm</span></h4>
                        <h4>Vendu par : <span> à l'unité</span></h4>
                        <h4> Prix: <span> 75.00<span class="glyphicon glyphicon-euro">/u</span></span></h4>   
              </div>
            </div>
            <div class="row space-ten">
              <form class="col-xs-6 col-xs-offset-4">           
                <div class="space-ten "></div>
                <button data-dismiss="modal" class="btn btn-primary">Annuler</button>
                <button type="submit" class="btn btn-primary">Supprimer</button>
              </form>         
            </div>           
        </div>
    </div>
  </div>
</div>




<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>

</body> 
</html>


