<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    <link href="css/style-perso.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <meta charset="utf-8"/>
    <title>ModifierPhotosAccueil</title>
</head>

<body>
<div class="page">
    <div th:switch="${statut}">
        <div th:case="'admin'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
        </div>
        <div th:case="'client'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
        </div>
        <div th:case="'visiteur'">
            <nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
        </div>
    </div>

    <div class="container">
        <H1 class="text-center aere">Modifier les photos de l'accueil</H1>
        <h2> les photos actuelles:</h2>
        <div class="row">
            <div class="col-xs-3">
                <figure><img  class="img-responsive" src="photos\RC-img1.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
            <div class="col-xs-3">
                <figure><img class="img-responsive" src="photos\RC-img2.jpg"><figcaption><a href="">Supprimer cette photo</a></figcaption></figure>
            </div>
        </div>

        <p align="center"><div class="btn btn-primary"><a href="" class="white">Ajouter une photo</a></div></p>




    </div>


    <div class="precedentlefooter"></div>

    <footer class="navbar basdepage">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class=" container">
                <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Collection</a></div>
                <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Nouveautés</a></div>
                <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Coloris</a></div>
                <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Rose Corail</a></div>
                <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Nous contacter</a></div>
                <div class="col-xs-12 col-sm-6 col-md-2 onglet-footer"><a href="">Mentions légales</a></div>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </footer>
</div>

</body>
</html>
