<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	  <!-- Bootstrap -->
		<link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
		<link href="../css/bootstrap-theme.css" type="text/css" rel="stylesheet">
		<link href="../css/style-perso.css" type="text/css" rel="stylesheet">
		<link href="../css/styleMonCompte.css" type="text/css" rel="stylesheet">
		<script src="../js/jquery-3.2.1.js"></script>
		<script src="../js/bootstrap.js"></script>
	  <meta charset="utf-8"/>
	  <title>Mon Compte Admin</title>
	</head>
	<body>
		<div class="page">
			<div th:switch="${statut}">
				<div th:case="'admin'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
				</div>
				<div th:case="'client'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
				</div>
				<div th:case="'visiteur'">
					<nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
				</div>
			</div>


		<div class="modifClass">
		  <h2>Mon compte</h2>
		  <div class="formulaireModifFieldset">
		  	<div class="formulaireModif">
			  <form method="post" class="form-horizontal" action="/administration/monCompteRC" accept-charset="utf-8">

			    <!-- Email -->
			    <div class="form-group row">
			      <label for="email" class="col-xs-4">Email:</label>
			      <input type="text" class="inputText col-xs-4" id="email" placeholder="Entrer votre email" name="email" th:value="${email}">
			    </div>
				  <!-- Numero de tel -->
				  <div class="form-group row">
					  <label for="telephone" class="col-xs-4">Numéro de téléphone:</label>
					  <input type="text" class="inputText col-xs-4" id="telephone" placeholder="Entrer votre prénom" name="telephone" th:value="${telephone}">
				  </div>

			    <div class="boutons">
			    	<button type="submit" class="btn btn-primary boutonModif">Modifier</button>
				</div>
				<p><a href="/modifMDP" class="linkDevis" role="button">Modifier mon mot de passe</a></p>
			  </form>
		    </div>
		   </div>
		</div>
		

		<div class="precedentlefooter"></div>

	<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
	</div>
	</body>
</html>