<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Bootstrap -->
	<link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" type="text/css" rel="stylesheet">
	<link href="../css/style-perso.css" type="text/css" rel="stylesheet">
	<script src="../js/jquery-3.2.1.js"></script>
	<script src="../js/bootstrap.js"></script>
  	<link href="../css/styleAccueilPerso.css" type="text/css" rel="stylesheet">

  	<link href="../css/styleStatistiques.css" type="text/css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

  <meta charset="utf-8"/>
  <title>Mes statistiques</title>
</head>
<body>
	<div class="page">
		<div th:switch="${statut}">
			<div th:case="'admin'">
				<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoAdmin}"></nav>
			</div>
			<div th:case="'client'">
				<nav class="navbar hautdepage" th:replace="~{fragments::navigateurCoClient}"></nav>
			</div>
			<div th:case="'visiteur'">
				<nav class="navbar hautdepage" th:replace="~{fragments::navigateur}"></nav>
			</div>
		</div>

		
		<div class="contenu">
			<h2>Statistiques</h2>

			<div class="bandeauMois">
				<ul>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'01'}">Janvier</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'02'}">Février</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'03'}">Mars</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'04'}">Avril</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'05'}">Mai</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'06'}">Juin</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'07'}">Juillet</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'08'}">Août</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'09'}">Septembre</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'10'}">Octobre</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'11'}">Novembre</a></li>
					<li><a class="mois-lien" th:href="${'/RoseCorail/administration/statistiques?anneeMois='+anneeActuelle+'12'}">Décembre</a></li>
					<li style="float:none;"><br style="clear:both;" /></li>
				</ul>
			</div>

			<div class="contenuHaut">
				<h3>Historique des ventes</h3>
				<canvas id="myChart" class="graphique1"></canvas>
				<script type="text/javascript" th:inline="javascript">
                    /*<![CDATA[*/
                    var articleNum1IDString = /*[[${articleNum1IDString}]]*/ "";
                    var articleNum2IDString = /*[[${articleNum2IDString}]]*/ "";
                    var articleNum3IDString = /*[[${articleNum3IDString}]]*/ "";

                    var tabGraph00 = /*[[${tabGraph[0][0]}]]*/ 0;
                    var tabGraph10 = /*[[${tabGraph[1][0]}]]*/ 0;
                    var tabGraph20 = /*[[${tabGraph[2][0]}]]*/ 0;
                    var tabGraph30 = /*[[${tabGraph[3][0]}]]*/ 0;
                    var tabGraph40 = /*[[${tabGraph[4][0]}]]*/ 0;
                    var tabGraph50 = /*[[${tabGraph[5][0]}]]*/ 0;
                    var tabGraph60 = /*[[${tabGraph[6][0]}]]*/ 0;
                    var tabGraph70 = /*[[${tabGraph[7][0]}]]*/ 0;
                    var tabGraph80 = /*[[${tabGraph[8][0]}]]*/ 0;
                    var tabGraph90 = /*[[${tabGraph[9][0]}]]*/ 0;
                    var tabGraph100 = /*[[${tabGraph[10][0]}]]*/ 0;
                    var tabGraph110 = /*[[${tabGraph[11][0]}]]*/ 0;

                    var tabGraph01 = /*[[${tabGraph[0][1]}]]*/ 0;
                    var tabGraph11 = /*[[${tabGraph[1][1]}]]*/ 0;
                    var tabGraph21 = /*[[${tabGraph[2][1]}]]*/ 0;
                    var tabGraph31 = /*[[${tabGraph[3][1]}]]*/ 0;
                    var tabGraph41 = /*[[${tabGraph[4][1]}]]*/ 0;
                    var tabGraph51 = /*[[${tabGraph[5][1]}]]*/ 0;
                    var tabGraph61 = /*[[${tabGraph[6][1]}]]*/ 0;
                    var tabGraph71 = /*[[${tabGraph[7][1]}]]*/ 0;
                    var tabGraph81 = /*[[${tabGraph[8][1]}]]*/ 0;
                    var tabGraph91 = /*[[${tabGraph[9][1]}]]*/ 0;
                    var tabGraph101 = /*[[${tabGraph[10][1]}]]*/ 0;
                    var tabGraph111 = /*[[${tabGraph[11][1]}]]*/ 0;

                    var tabGraph02 = /*[[${tabGraph[0][2]}]]*/ 0;
                    var tabGraph12 = /*[[${tabGraph[1][2]}]]*/ 0;
                    var tabGraph22 = /*[[${tabGraph[2][2]}]]*/ 0;
                    var tabGraph32 = /*[[${tabGraph[3][2]}]]*/ 0;
                    var tabGraph42 = /*[[${tabGraph[4][2]}]]*/ 0;
                    var tabGraph52 = /*[[${tabGraph[5][2]}]]*/ 0;
                    var tabGraph62 = /*[[${tabGraph[6][2]}]]*/ 0;
                    var tabGraph72 = /*[[${tabGraph[7][2]}]]*/ 0;
                    var tabGraph82 = /*[[${tabGraph[8][2]}]]*/ 0;
                    var tabGraph92 = /*[[${tabGraph[9][2]}]]*/ 0;
                    var tabGraph102 = /*[[${tabGraph[10][2]}]]*/ 0;
                    var tabGraph112 = /*[[${tabGraph[11][2]}]]*/ 0;


					var ctx = document.getElementById('myChart').getContext('2d');
					var myChart = new Chart(ctx, {
					  type: 'line',
					  data: {
					    labels: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'],
					    datasets: [{
					      label: articleNum1IDString,
					      data: [tabGraph00, tabGraph10, tabGraph20, tabGraph30, tabGraph40, tabGraph50, tabGraph60, tabGraph70, tabGraph80, tabGraph90, tabGraph100, tabGraph110],
					      backgroundColor: "rgba(153,255,51,0.4)"
					    }, {
					      label: articleNum2IDString,
					      data: [tabGraph01, tabGraph11, tabGraph21, tabGraph31, tabGraph41, tabGraph51, tabGraph61, tabGraph71, tabGraph81, tabGraph91, tabGraph101, tabGraph111],
					      backgroundColor: "rgba(255,153,0,0.4)"
					    }, {
					      label: articleNum3IDString,
					      data: [tabGraph02, tabGraph12, tabGraph22, tabGraph32, tabGraph42, tabGraph52, tabGraph62, tabGraph72, tabGraph82, tabGraph92, tabGraph102, tabGraph112],
					      backgroundColor: "rgba(0,0,255,0.4)"
					    }]
					  }
					});
                    /*]]>*/
				</script>
			</div>

			<div class="contenuGauche">
				<h3>Les 5 articles les plus vendus</h3>
				<canvas id="myChart5"></canvas>
					<script type="text/javascript" th:inline="javascript">
                        /*<![CDATA[*/
                        var nomArticle1 = /*[[${nomArticle1}]]*/ "";
                        var nomArticle2 = /*[[${nomArticle2}]]*/ "";
                        var nomArticle3 = /*[[${nomArticle3}]]*/ "";
                        var nomArticle4 = /*[[${nomArticle4}]]*/ "";
                        var nomArticle5 = /*[[${nomArticle5}]]*/ "";
                        var scoreArticle1 = /*[[${scoreArticle1}]]*/ 0;
                        var scoreArticle2 = /*[[${scoreArticle2}]]*/ 0;
                        var scoreArticle3 = /*[[${scoreArticle3}]]*/ 0;
                        var scoreArticle4 = /*[[${scoreArticle4}]]*/ 0;
                        var scoreArticle5 = /*[[${scoreArticle5}]]*/ 0;

						var ctx = document.getElementById("myChart5").getContext('2d');
						var myChart = new Chart(ctx, {
						  type: 'doughnut',
						  data: {
						    labels: [nomArticle1, nomArticle2, nomArticle3, nomArticle4, nomArticle5],
						    datasets: [{
						      backgroundColor: [
						        "#2ecc71",
						        "#3498db",
						        "#95a5a6",
						        "#9b59b6",
						        "#f1c40f"
						      ],
						      data: [scoreArticle1, scoreArticle2, scoreArticle3, scoreArticle4, scoreArticle5]
						    }]
						  }
						});
                        /*]]>*/
					</script>
			</div>

			<div class="contenuDroit">
				<h3>Les 5 coloris les plus demandés</h3>
				<canvas id="myChart4"></canvas>
				<script type="text/javascript" th:inline="javascript">
                    /*<![CDATA[*/
                    var nomCouleur1 = /*[[${nomCouleur1}]]*/ "";
                    var nomCouleur2 = /*[[${nomCouleur2}]]*/ "";
                    var nomCouleur3 = /*[[${nomCouleur3}]]*/ "";
                    var nomCouleur4 = /*[[${nomCouleur4}]]*/ "";
                    var nomCouleur5 = /*[[${nomCouleur5}]]*/ "";
                    var scoreCouleur1 = /*[[${scoreCouleur1}]]*/ 0;
                    var scoreCouleur2 = /*[[${scoreCouleur2}]]*/ 0;
                    var scoreCouleur3 = /*[[${scoreCouleur3}]]*/ 0;
                    var scoreCouleur4 = /*[[${scoreCouleur4}]]*/ 0;
                    var scoreCouleur5 = /*[[${scoreCouleur5}]]*/ 0;

					var ctx = document.getElementById("myChart4").getContext('2d');
					var myChart = new Chart(ctx, {
					  type: 'pie',
					  data: {
					    labels: [nomCouleur1, nomCouleur2, nomCouleur3, nomCouleur4, nomCouleur5],
					    datasets: [{
					      backgroundColor: [
					        "#2ecc71",
					        "#3498db",
					        "#95a5a6",
					        "#9b59b6",
					        "#f1c40f"
					      ],
					      data: [scoreCouleur1, scoreCouleur2, scoreCouleur3, scoreCouleur4, scoreCouleur5]
					    }]
					  }
					});
				</script>
			</div>

			<div class="contenuBas"></div>

		</div>


		<div class="precedentlefooter"></div>

<footer class="navbar basdepage" th:replace="~{fragments::footer}"></footer>
</div>
	</body>
</html>