.modifClass{
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 20%;
	margin-left: 20%;
}

.modifClass h2{
	margin-bottom: 5%;
	text-align: center;
	font-weight: bold;
	font-size: 4em;
}

.formulaireModifFieldset{
	border-style: solid;
	background-color: #d9d9d9;
}

.formulaireModif{
	margin-top: 5%;
	margin-bottom: 2%;
	margin-right: 20%;
	margin-left: 20%;
}

.inputText{
	width: 300px;
	border-radius: 3px;
	border-style: ridge;
}

.boutons{
	margin-bottom: 5%;
	text-align: center;
}

p{
	text-align: center;
}